body {
	background: white;
}

#players {
	display: flex;
	width: 50%;
	margin: auto;
}

.player {
	width: 50%;
	text-align: center;
	font-size: 30px;
}

.player.active {
	font-weight: bold;
	color: red;
}

#table_game {
	border-collapse: collapse;
	margin: 25px auto;
}

.col {
	border: 1px solid black;
	width: 100px;
	height: 100px;
	text-align: center;
}

.col:hover {
	background: #D69540;
	cursor: pointer;
}

#but {
	box-sizing: border-box;
	width: 100px;
	height: 60px;
	border: 1px solid dodgerblue;
	margin: auto;
	border-radius: 4px;
	font-family: Verdana, 
	Geneva, Tahoma, sans-serif;
	background-color: dodgerblue;
	color: white;
	font-size: 20px;
	cursor: pointer;
}

#but1 {
	box-sizing: border-box;
	width: 100px;
	height: 60px;
	border: 1px solid dodgerblue;
	margin: auto;
	border-radius: 4px;
	font-family: Verdana, 
	Geneva, Tahoma, sans-serif;
	background-color: dodgerblue;
	color: white;
	font-size: 20px;
	cursor: pointer;
}

#scores {
	display: flex;
	width: 50%;
	margin: auto;
}

.score {
	width: 50%;
	text-align: center;
	font-size: 20px;
}

a {
	color: red;
	text-decoration: none;
}
